* {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Card-Profile {
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 10px 30px -15px gray;
    border-radius: 1rem;
    width: 20rem;
}

.Card-Profile img{
    width: 90%;
    border-radius: 1.5rem;
    padding: 1rem;
}

.Card-Profile-Item {
    padding: 0.4rem 1.5rem 1.5rem 1.5rem;
    text-align: center;
}

.Card-Profile-Item h1 {
    font-size: 1.3rem;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin-bottom: 0.5rem;
}

.Card-Profile-Item p {
    font-size: 1rem;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: hsl(218, 44%, 22%);
    color: white;
}
footer a {
    text-decoration: none;
    color: hsl(220, 15%, 55%);
}

